astropy
matplotlib
git+https://github.com/AstroHuntsman/gunagala.git
pandas
numpy
scipy
photutils
specutils
astroquery
pyyaml
pysynphot
xmltodict
sklearn
datetime
netcdf4
ephem
healpy
pytest
pyhdf
pydap
loguru
